<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="factura1" class="udb.modulo1.sesion1.FacturaConIva">
		<property name="numero" value="1"></property>
		<property name="concepto" value="Computador"></property>
		<property name="importe" value="1200.40"></property>
	</bean>
	<bean id="factura2" class="udb.modulo1.sesion1.FacturaSinIva"></bean>
</beans>